<template>
    <ContactForm></ContactForm>
</template>

<script>
import ContactForm from '@/components/ContactForm';

export default {
    name: 'Contact',
    components: {
        ContactForm,
    },
};
</script>

<style scoped>

</style>
