<template>
    <section class="contact">
        <h2>Contact for us</h2>
        <form class="contact__form form" @submit.prevent="onSubmit">
            <div class="form__wrapper">
                <label class="form__label" for="name">Name:</label>
                <input
                        v-validate="'min: 3|required'"
                        name="name"
                        v-model="name"
                        :class="{'form__input_error': errors.has('name')}"
                        type="text" class="form__input" id="name"
                        placeholder="Enter your name"/>
                <span class="form__error-message"
                      v-if="errors.has('name')">{{ errors.first('name')}}</span>
            </div>
            <div class="form__wrapper">
                <label class="form__label" for="phone">Phone number:</label>
                <input
                        v-validate="phoneValidationRules"
                        name="phone"
                        type="text"
                        class="form__input"
                        id="phone"
                        :class="{'form__input_error': errors.has('phone')}"
                        v-model="phone"
                        placeholder="8(XXX)-XXX-XX-XX">
                <span class="form__error-message"
                      v-if="errors.has('phone')">{{ errors.first('phone')}}</span>
            </div>
            <div class="form__wrapper">
                <label class="form__label" for="message">Message:</label>
                <textarea
                        v-validate="'max: 250|required'"
                        name="message"
                        id="message"
                        class="form__input"
                        :class="{'form__input_error': errors.has('message')}"
                        rows="5"
                        v-model="message"
                        placeholder="Enter message"></textarea>
                <div class="form__wrapper form__wrapper_row">
                    <span class="form__error-message"
                          v-if="errors.has('message')">{{ errors.first('message')}}</span>
                    <span class="form__message-counter">{{ messageLength }}</span>
                </div>
            </div>
            <button type="submit" class="form__submit">Send</button>
        </form>
        <Snackbar
                :message="responseMessage"
                :show="!!responseMessage"></Snackbar>
    </section>
</template>

<script>
import { mapActions, mapMutations, mapState } from 'vuex';
import Snackbar from './Snackbar';

const maxMessageLength = 250;
const phoneRegex = /^8[\s-]?\(?[9][0-9]{2}\)?[\s-]?[0-9]{3}([\s-]?[0-9]{2}){2}$/;

export default {
    name: 'ContactForm',
    components: {
        Snackbar,
    },
    data() {
        return {
            responseMessage: '',
        };
    },
    computed: {
        ...mapState({
            form: state => state.form,
        }),
        name: {
            get() {
                return this.form.name;
            },
            set(value) {
                this.setFormData({
                    name: value,
                });
            },
        },
        phone: {
            get() {
                return this.form.phone;
            },
            set(value) {
                this.setFormData({
                    phone: value,
                });
            },
        },
        message: {
            get() {
                return this.form.message;
            },
            set(value) {
                this.setFormData({
                    message: value,
                });
            },
        },
        messageLength() {
            return `${this.message.length}/${maxMessageLength}`;
        },
        phoneValidationRules() {
            return {
                regex: phoneRegex,
                required: true,
            };
        },
    },
    methods: {
        ...mapActions([
            'sendForm',
        ]),
        ...mapMutations([
            'setFormData',
        ]),
        onSubmit() {
            this.$validator.validate().then((result) => {
                if (result) {
                    return this.sendForm().then(({ message }) => {
                        this.responseMessage = message;
                        this.resetResponseMessage();
                    });
                }
                return result;
            });
        },
        resetResponseMessage() {
            setTimeout(() => {
                this.responseMessage = '';
            }, 5000);
        },
    },
};
</script>

<style scoped>
    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact__form {
        width: 100%;
        max-width: 500px;
    }

    .form {
        padding: 15px 20px;
        font-size: 20px;
        color: white;
        background-color: black;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, .7);
        box-sizing: border-box;
    }

    .form__wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .form__wrapper_row {
        flex-direction: row;
        justify-content: space-between;
    }

    .form__label {
        margin-bottom: 10px;
    }

    .form__input {
        padding: 5px 10px;
        font-size: inherit;
        color: black;
        background-color: white;
        border: 2px solid transparent;
        border-radius: 5px;
    }

    .form__input:focus {
        border-color: #007aff;
        outline: none;
    }

    .form__input_error {
        background-color: #f2dede;
        border-color: #d80c46;
        animation: error-bounce .5s 1 ease-in;
    }

    .form__submit {
        padding: 10px 15px;
        font-size: 20px;
        color: white;
        border: 2px solid white;
        border-radius: 5px;
        background-color: transparent;
        text-align: center;
        transition: .3s ease-out;
    }

    .form__submit:hover {
        background-color: white;
        color: black;
    }

    .form__error-message {
        margin-top: 10px;
        font-size: 16px;
        color: #d80c46;
    }

    .form__message-counter {
        display: inline-block;
        margin-left: auto;
        margin-top: 10px;
    }

    @keyframes error-bounce {
        10%, 30%, 50%, 80%, 100% {
            transform: translateY(0);
        }
        0% {
            transform: translateX(-5px);
        }
        20% {
            transform: translateX(5px);
        }
        40% {
            transform: translateX(-2px)
        }
        60% {
            transform: translateX(2px)
        }
    }
</style>
