<template>
    <header class="header">
        <div class="container">
            <Navigation></Navigation>
        </div>
    </header>
</template>

<script>
import Navigation from '@/components/Navigation';

export default {
    name: 'Header',
    components: {
        Navigation,
    },
};
</script>

<style scoped>
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #000000;
        color: #fff;
        z-index: 1;
        box-shadow: 0 3px 4px rgba(0, 0, 0, .5);
    }

    @supports (position: sticky) {
        .header {
            position: sticky;
        }
    }
</style>
