<template>
    <nav class="nav">
        <ul class="nav__list">
            <template v-for="(value, key) in navigationItems">
                <li
                        :key="key"
                        class="nav__item">
                    <router-link :to="{ name: value }">{{ value }}</router-link>
                </li>
            </template>
        </ul>
    </nav>
</template>

<script>
import routeNames from '@/router/routeNames';

export default {
    name: 'Navigation',
    data() {
        return {
            navigationItems: routeNames,
        };
    },
};
</script>

<style scoped>
    #nav a {
        font-weight: bold;
        color: #2c3e50;
    }

    #nav a.router-link-exact-active {
        color: #42b983;
    }

     .nav {
         display: flex;
     }
    .nav__list {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .nav__item {
        position: relative;
        flex-grow: 1;
    }

    .nav__item::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color:  white;
        opacity:  .3;
        transform: scale(0) translate(0, 0);
        transition: transform .5s ease-in-out;
        z-index: -1;
    }

    .nav__item a {
        display: inline-block;
        width: 100%;
        padding: 15px 10px;
        font-size: 20px;
        text-align: center;
        color: white;
        text-decoration: none;
        border-bottom: 2px solid transparent;
        transition: border-bottom-color 0.3s ease-out;
        box-sizing: border-box;
    }

    .nav__item:hover::before {
        transform: scale(1) translate(0, 0);
    }

    .nav__item:hover a,
    .nav__item a.router-link-exact-active {
        border-bottom-color: white;
    }

    @media (min-width: 600px) {
        .nav__list {
            justify-content: flex-start;
        }
        .nav__item {
            flex-grow: initial;
        }

        .nav__item a {
            padding: 20px 15px;
        }
    }
</style>
