<template>
    <div
            class="snackbar"
            :class="{
                snackbar_show: show,
            }">
        {{ message }}
    </div>
</template>

<script>
export default {
    name: 'Snackbar',
    props: {
        message: {
            type: String,
            default: '',
        },
        show: {
            type: Boolean,
            default: false,
        },
    },
};
</script>

<style scoped>
    .snackbar {
        position: fixed;
        bottom: 0;
        min-width: 300px;
        max-width: 500px;
        padding: 20px 15px;
        font-size: 18px;
        color: white;
        background-color: black;
        border: 2px solid white;
        border-bottom: none;
        border-radius: 5px 5px 0 0;
        box-sizing: border-box;
        transition: all .5s ease-out;
        transform: translateY(100%);
    }

    .snackbar_show {
        transform: translateY(0);
    }
</style>
