<template>
    <div id="app">
        <Header></Header>
            <main class="main">
                <div class="container">
                        <router-view/>
                </div>
            </main>
    </div>
</template>

<script>
import Header from '@/components/Header';

export default {
    components: {
        Header,
    },
};
</script>

<style>
    body {
        margin: 0;
        font-family: Roboto, Arial, sans-serif;
        background: azure;
    }

    #app {
        display: flex;
        flex-direction: column;
        min-height: calc(100vh + 200px);
    }

    .main {
        margin-top: 200px;
        z-index: 0;
    }

    .container {
        width: auto;
        margin-right: auto;
        margin-left: auto;
        padding: 0 15px;
    }

    @media (min-width: 768px) {
        .container {
            width: 90%;
            max-width: 1150px;
            padding: 0 20px;
        }
    }

    @media (min-width: 1200px) {
        .container {
            width: 1150px;
        }
    }
</style>
